

	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo">
							<a href="/cafe_core_app">
								<div>Kusachki</div>
								<div>BY</div>
							</a>
						</div>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="/cafe_core_app">Главная</a></li>
								<li><a href="/cafe_core_app/about">О нас</a></li>
								<li><a href="/cafe_core_app/menu">УСЛУГИ И ЦЕНЫ</a></li>
								<li><a href="/analytics/top_meals">Топ-3 самых популярных услуг</a></li>
								<li><a href="/analytics/charts/">Статистика</a></li>
{#								<li><a href="contact.html">contact</a></li>#}
							</ul>
						</nav>
						<a href="/admin" class="reservations_phone ml-auto">ADMIN</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->

	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>Главная</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a href="/cafe_core_app">Главная</a></li>
				<li><a href="/cafe_core_app/about">О нас</a></li>
				<li><a href="/cafe_core_app/menu">УСЛУГИ И ЦЕНЫ</a></li>
				<li><a href="/analytics/top_meals">Топ-3 самых популярных услуг</a></li>
				<li><a href="/analytics/charts/">Статистика</a></li>
<!--				<li><a href="contact.html">Контакты</a></li>-->
			</ul>
		</div>
		<div class="menu_reservations_phone ml-auto">
             <a href="tel:номер-телефона">номер-телефона</a>
		</div>
	</div>