{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock title%}
{% block bg_image %}{% static 'images/156.jpg' %}{% endblock bg_image %}
{% block home_title %}О нас{% endblock home_title %}


{% block content %}

  <!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div align="right">
					<div class="intro_content">
						<div class="intro_subtitle page_subtitle"></div>
						<h1 align="right"><b>Наш мастер</b></h1>
						<h2 align="right">Василий Васильевич Ирхин</h2>
						<h3 align="right">Является мастером в области заточки и имеет опыт более 10 лет.</h3>
						<div class="intro_text">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 col-md-2 col-lg-4">
							<div class="intro_image"><img src="{% static 'images/master.png' %}"width="300" height="300" alt="https://unsplash.com/@quanle2819"></div>
						</div>
						</div>
					   <h1 align="center"><b>Наши работы</b></h1>

					<div align="center">
					<iframe width="250" height="315" src="https://www.youtube.com/embed/uj31FSyT4r0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/uSVtTCMQxFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/v8jv0IEPeI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/dVsw69-DxCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/Q2aJFarVKig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/2Sle0kyD5F0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/PinzLOppeak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="250" height="315" src="https://www.youtube.com/embed/2T0sIX_jefI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



				    <div align="wbr">

					<h1 align="center"><b>Отзывы наших клиентов</b></h1>
					<iframe width="500" height="300" src="https://www.youtube.com/embed/hpYQbKyYk04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					<iframe width="500" height="300" src="https://www.youtube.com/embed/YVoLQ64chMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
		</div>
			</div>


{% endblock content %}