{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock title%}
{% block bg_image %}{% static 'images/zatochka_instrumentov_mobile.jpg' %}{% endblock bg_image %}

{% block home_title %}Возможен вызов курьера<br>&#128242;+375-29-666-88-55{% endblock home_title %}

{% block content %}


    <!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content">
						<div class="intro_subtitle page_subtitle"></div>
						<div class="intro_title"><h1>Нужно ли затачивать инструменты?</h1></div>
						<div class="intro_text">
							<p>Заточка инструмента – это действие с которым в процессе своей рабочей деятельности регулярно сталкивается любой парикмахер и мастер ногтевого сервиса как при покупке нового инструмента, так и при уходе за уже имеющимся.

Ежедневно мастер маникюра, педикюра и парикмахерского дела осуществляет множество мелких манипуляций с использованием огромного количества металлических инструментов. Интенсивная эксплуатация неизбежно сказывается на состоянии рабочих поверхностей: режущие лезвия затупляются, плоскости стираются и теряют функциональную ровность. Услуги мастера по заточке позволяют восстановить рабочие свойства инструмента, а в некоторых случаях – даже существенно продлить срок его службы.

Помимо этого, потребность в заточке инструмента возникает при его покупке: заводская заточка производится слишком грубо, в результате чего новый инструмент оказывается непригоден для обработки таких деликатных поверхностей, как кутикула и ногти. В большинстве случаев режущие кромки ножниц, кусачек и пинцетов такие толстые, что ими невозможно ухватить кожу, ноготь или волосок. Достаточно распространенной является ситуация, когда у новых парикмахерских ножниц заточенными оказываются только кончики, в то время как мастер использует в работе всю поверхность лезвия. Исключения составляет продукция дорогих профессиональных марок, которые подчас бывают недоступны в нужном количестве мастеру, который нуждается в большом числе инструментов одновременно.

Затупившийся инвентарь принципиально осложняет работу парикмахера или мастера ногтевого сервиса: даже если специалист обладает солидным опытом работы и высоким уровнем квалификации, попытки произвести мелкие моторные манипуляции недостаточно тонким инструментом отнимают большое количество времени. Кроме того, при работе тупыми лезвиями мастеру гораздо сложнее вести линию среза волоса или ногтя, что существенно вредит эстетической составляющей, которая в абсолютном большинстве случаев имеет для клиента основную ценность.

Также необходимо помнить, что хорошо заточенный инструмент - это гарант не только качества работы мастера, но и безопасности клиента: недостаточно острые щипчики для маникюра будут разрывать кожу, а не надрезать ее. Аналогичная ситуация складывается и в парикмахерском деле: затупившиеся ножницы не разрезают волос, а перекусывают его, повреждая структуру кератинового волокна. Своевременно позаботившись о заточке своего рабочего инструмента, мастер защищает своего клиента от опасности травматизации, периодически возникающей в салонах красоты.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img src="{% static 'images/sam-masters.mp4' %}" alt="https://unsplash.com/@quanle2819"></div>
						</div>
                        &#32;
						<div class="col-xl-4 col-md-6 intro_col">
							<div class="intro_image"><img src="{% static 'images/111.jpeg'%}" alt="https://unsplash.com/@fabmag"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <br><br><br>


{% endblock content %}